{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "globals": {
    "BigInt": true
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "linebreak-style": "off",

    "import/extensions": "off",
    "import/no-default-export": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off"
  }
}
