README.md
test-project
definition-manifest.json
.devcontainer/library-scripts/azcli-debian.sh
.devcontainer/library-scripts/common-debian.sh
.devcontainer/library-scripts/git-from-src-debian.sh
.devcontainer/library-scripts/github-debian.sh
.devcontainer/library-scripts/go-debian.sh
.devcontainer/library-scripts/gradle-debian.sh
.devcontainer/library-scripts/java-debian.sh
.devcontainer/library-scripts/kubectl-helm-debian.sh
.devcontainer/library-scripts/maven-debian.sh
.devcontainer/library-scripts/node-debian.sh
.devcontainer/library-scripts/powershell-debian.sh
.devcontainer/library-scripts/python-debian.sh
.devcontainer/library-scripts/ruby-debian.sh
.devcontainer/library-scripts/rust-debian.sh
.devcontainer/library-scripts/README.md
setup-user.sh
symlinkDotNetCore.sh
.vscode
.npmignore
