* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html, body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #fff;
  }
  
  main {
    margin: auto;
    width: 50%;
    padding: 20px;
  }
  
  main > h1 {
    text-align: center;
    font-size: 3.5em;
  }