name: Release Containers

on:
  #repository_dispatch:
  push:
    tags:
    - 'v*'

jobs:
  build-and-push:
    name: Build and push
    strategy:
      matrix:
        page: [1, 2, 3]
        page-total: [3]
      fail-fast: true
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      id: checkout
      uses: actions/checkout@v2

    - name: Get tag name
      id: get_tag_name  
      uses: olegtarasov/get-tag@v1

    - name: Azure CLI login
      id: az_login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZ_ACR_CREDS }}
      
    - name: Build and push
      id: build_and_push
      run: |
        set -e
        
        # ACR login
        ACR_REGISTRY_NAME=$(echo ${{ secrets.REGISTRY }} | grep -oP '(.+)(?=\.azurecr\.io)')
        az acr login --name $ACR_REGISTRY_NAME

        # Build and push images
        yarn install
        build/vscdc push  --page ${{ matrix.page }} \
                          --pageTotal ${{ matrix.page-total }} \
                          --release ${{ steps.get_tag_name.outputs.tag }} \
                          --github-repo ${{ github.repository }} \
                          --registry ${{ secrets.REGISTRY }} \
                          --registry-path ${{ secrets.REGISTRY_BASE_PATH }} \
                          --stub-registry ${{ secrets.STUB_REGISTRY }} \
                          --stub-registry-path ${{ secrets.STUB_REGISTRY_BASE_PATH }}

  package:
    name: Package and release
    needs: [build-and-push]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'Automated update') && !contains(github.event.head_commit.message, 'CI ignore')"
    steps:
    - name: Checkout
      id: checkout
      uses: actions/checkout@v2

    - name: Get tag name
      id: get_tag_name  
      uses: olegtarasov/get-tag@v1

    - name: Update Dockerfile common script sources and re-tag
      id: update_script_source
      run: |
        set -e

        # Update common script source URLs in all dev containers and and set SHA hash
        yarn install
        build/vscdc update-script-sources ${{ steps.get_tag_name.outputs.tag }} --github-repo ${{ github.repository }}

        # Commit to a new tag specific branch
        git config --global user.email "vscr-feedback@microsoft.com"
        git config --global user.name "CI"
        git fetch --tags --force
        git branch ${{ steps.get_tag_name.outputs.tag }}-temp-branch
        git add -u
        git commit -m 'Automated update of common script sources and hash'

        # Re-tag and push to origin
        git tag -d ${{ steps.get_tag_name.outputs.tag }}
        git tag ${{ steps.get_tag_name.outputs.tag }}
        git push --delete origin ${{ steps.get_tag_name.outputs.tag }}
        git push origin ${{ steps.get_tag_name.outputs.tag }}

    - name: Package
      id: package
      run: |
        set -e
        yarn install
        build/vscdc pack  --prep-and-package-only \
                          --release ${{ steps.get_tag_name.outputs.tag }} \
                          --github-repo ${{ github.repository }} \
                          --registry ${{ secrets.REGISTRY }} \
                          --registry-path ${{ secrets.REGISTRY_BASE_PATH }} \
                          --stub-registry ${{ secrets.STUB_REGISTRY }} \
                          --stub-registry-path ${{ secrets.STUB_REGISTRY_BASE_PATH }}

        # Set an output with the resulting package name for upload
        PKG_PREFIX=$(node -p "require('./package.json').name")
        echo "::set-output name=package_name::$(ls $PKG_PREFIX-*.tgz)"

    - name: Create release
      id: create_release
      uses: actions/create-release@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get_tag_name.outputs.tag }}
        release_name:  ${{ steps.get_tag_name.outputs.tag }}
        draft: false
        prerelease: false

    - name: Upload package as release asset
      id: upload_release_asset 
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./${{ steps.package.outputs.package_name }}
        asset_name: ${{ steps.package.outputs.package_name }}
        asset_content_type: application/gzip 
